/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Sidebar Styles */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333; /* Darker shade for contrast */
  overflow-x: hidden;
  padding-top: 20px; /* Reduced padding */
  transition: 0.5s;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #252525d0;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  color: #adadad;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.show {
  display: block;
}

.add-connection-form,
.connections-table {
  margin: 20px auto;
  margin-left: 300px;
  width: 90%;
  position: relative;
  transform: none;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap as needed */
}

.sidebar-links a {
  text-decoration: none;
  color: #007bff; /* Bootstrap primary color for example */
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-links a:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: ##1976d2;
  color: white;
}

td img {
  width: 24px;
  height: auto;
  display: block;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between form elements */
  max-width: 400px; /* Adjust based on preference */
  margin: auto; /* Center the form */
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
}

label {
  font-weight: bold;
  margin-bottom: 5px; /* Space between label and input/select */
}

select {
  padding: 8px;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px; /* Rounded corners */
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff; /* White text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.2s; /* Smooth background color transition */
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100px; /* Reduced for smaller screens */
  }

  .main-content {
    margin-left: 100px; /* Adjusted according to sidebar */
  }

  .modal-content {
    width: 80%; /* More screen space on smaller devices */
  }
}
